In [0]:
import pandas as pd
import numpy as np

In [0]:
excel_file1="/content/OVERALL_FUSEBOXES_REPORT_01 04 2020.xlsx"
fuse = pd.read_excel(excel_file1, merge_cells=False)

In [0]:
fuse1 = pd.read_excel(excel_file1, sheet_name=0, skiprows=2, header=[2,3])

In [0]:
excel_file2=("/content/OVERALL_INVERTERS_REPORT_01 04 2020.xlsx")
inv = pd.read_excel(excel_file2, merge_cells=False)

In [0]:
inv1 = pd.read_excel(excel_file2, sheet_name=0, skiprows=2, header=[2,3])

In [342]:
fuse1.columns

MultiIndex([('Unnamed: 0_level_0',   'Unnamed: 0_level_1'),
            (        'FUSE BOX 1',                  'CT1'),
            (        'FUSE BOX 1',                  'CT2'),
            (        'FUSE BOX 1',                  'CT3'),
            (        'FUSE BOX 1',                  'CT4'),
            (        'FUSE BOX 1',                  'CT5'),
            (        'FUSE BOX 1',                  'CT6'),
            (        'FUSE BOX 1',                  'CT7'),
            (        'FUSE BOX 1',                  'CT8'),
            (        'FUSE BOX 1',                  'CT9'),
            (        'FUSE BOX 1',                 'CT10'),
            (        'FUSE BOX 1',                 'CT11'),
            (        'FUSE BOX 1',                 'CT12'),
            (        'FUSE BOX 1',                 'CT13'),
            (        'FUSE BOX 1',                 'CT14'),
            (        'FUSE BOX 1', 'INTERNAL TEMPERATURE'),
            (        'FUSE BOX 2',                  'CT1'),
            (        'FUSE BOX 2',                  'CT2'),
            (        'FUSE BOX 2',                  'CT3'),
            (        'FUSE BOX 2',                  'CT4'),
            (        'FUSE BOX 2',                  'CT5'),
            (        'FUSE BOX 2',                  'CT6'),
            (        'FUSE BOX 2',                  'CT7'),
            (        'FUSE BOX 2',                  'CT8'),
            (        'FUSE BOX 2',                  'CT9'),
            (        'FUSE BOX 2',                 'CT10'),
            (        'FUSE BOX 2',                 'CT11'),
            (        'FUSE BOX 2',                 'CT12'),
            (        'FUSE BOX 2',                 'CT13'),
            (        'FUSE BOX 2',                 'CT14'),
            (        'FUSE BOX 2', 'INTERNAL TEMPERATURE'),
            (        'FUSE BOX 3',                  'CT1'),
            (        'FUSE BOX 3',                  'CT2'),
            (        'FUSE BOX 3',                  'CT3'),
            (        'FUSE BOX 3',                  'CT4'),
            (        'FUSE BOX 3',                  'CT5'),
            (        'FUSE BOX 3',                  'CT6'),
            (        'FUSE BOX 3',                  'CT7'),
            (        'FUSE BOX 3',                  'CT8'),
            (        'FUSE BOX 3',                  'CT9'),
            (        'FUSE BOX 3',                 'CT10'),
            (        'FUSE BOX 3',                 'CT11'),
            (        'FUSE BOX 3',                 'CT12'),
            (        'FUSE BOX 3',                 'CT13'),
            (        'FUSE BOX 3',                 'CT14'),
            (        'FUSE BOX 3', 'INTERNAL TEMPERATURE'),
            (        'FUSE BOX 4',                  'CT1'),
            (        'FUSE BOX 4',                  'CT2'),
            (        'FUSE BOX 4',                  'CT3'),
            (        'FUSE BOX 4',                  'CT4'),
            (        'FUSE BOX 4',                  'CT5'),
            (        'FUSE BOX 4',                  'CT6'),
            (        'FUSE BOX 4',                  'CT7'),
            (        'FUSE BOX 4',                  'CT8'),
            (        'FUSE BOX 4',                  'CT9'),
            (        'FUSE BOX 4',                 'CT10'),
            (        'FUSE BOX 4',                 'CT11'),
            (        'FUSE BOX 4',                 'CT12'),
            (        'FUSE BOX 4',                 'CT13'),
            (        'FUSE BOX 4',                 'CT14'),
            (        'FUSE BOX 4', 'INTERNAL TEMPERATURE')],
           )

In [343]:
fuse1.head()

       Unnamed: 0_level_0 FUSE BOX 1       ... FUSE BOX 4
       Unnamed: 0_level_1        CT1  CT2  ...       CT13 CT14 INTERNAL TEMPERATURE
0 2020-04-01 00:00:00.012        0.0  0.0  ...          0    0            29.452501
1 2020-04-01 00:01:00.015        0.0  0.0  ...          0    0            29.439114
2 2020-04-01 00:02:00.012        0.0  0.0  ...          0    0            29.417545
3 2020-04-01 00:03:00.014        0.0  0.0  ...          0    0            29.402670
4 2020-04-01 00:04:00.015        0.0  0.0  ...          0    0            29.387794

[5 rows x 61 columns]

In [344]:
fuse1.index.nlevels  # levels in index

1

In [345]:
fuse1.columns.nlevels  # levels in columns

2

In [346]:
fuse1.index = fuse1.index.get_level_values(0)
fuse1.index

RangeIndex(start=0, stop=1439, step=1)

In [0]:
fuse1.index.name="sr.no."

In [0]:
date1=fuse1.xs('Unnamed: 0_level_1',axis=1, level=1, drop_level=False)

In [349]:
date1

            Unnamed: 0_level_0
            Unnamed: 0_level_1
sr.no.
0      2020-04-01 00:00:00.012
1      2020-04-01 00:01:00.015
2      2020-04-01 00:02:00.012
3      2020-04-01 00:03:00.014
4      2020-04-01 00:04:00.015
...                        ...
1434   2020-04-01 23:54:00.015
1435   2020-04-01 23:55:00.015
1436   2020-04-01 23:56:00.013
1437   2020-04-01 23:57:00.012
1438   2020-04-01 23:58:00.013

[1439 rows x 1 columns]

In [0]:
data1=fuse1.xs('INTERNAL TEMPERATURE',axis=1, level=1, drop_level=False)

In [351]:
data1.shape

(1439, 4)

In [352]:
data1

                 FUSE BOX 1  ...           FUSE BOX 4
       INTERNAL TEMPERATURE  ... INTERNAL TEMPERATURE
sr.no.                       ...
0                 30.275087  ...            29.452501
1                 30.273602  ...            29.439114
2                 30.240875  ...            29.417545
3                 30.234182  ...            29.402670
4                 30.205919  ...            29.387794
...                     ...  ...                  ...
1434              29.519438  ...            28.814363
1435              29.491177  ...            28.787588
1436              29.478533  ...            28.789820
1437              29.462170  ...            28.769737
1438              29.436882  ...            28.761557

[1439 rows x 4 columns]

In [0]:
fuse_data=date1.join(data1)

In [354]:
fuse_data.columns

MultiIndex([('Unnamed: 0_level_0',   'Unnamed: 0_level_1'),
            (        'FUSE BOX 1', 'INTERNAL TEMPERATURE'),
            (        'FUSE BOX 2', 'INTERNAL TEMPERATURE'),
            (        'FUSE BOX 3', 'INTERNAL TEMPERATURE'),
            (        'FUSE BOX 4', 'INTERNAL TEMPERATURE')],
           )

In [355]:
fuse_data.shape

(1439, 5)

In [356]:
fuse_data.head()

            Unnamed: 0_level_0  ...           FUSE BOX 4
            Unnamed: 0_level_1  ... INTERNAL TEMPERATURE
sr.no.                          ...
0      2020-04-01 00:00:00.012  ...            29.452501
1      2020-04-01 00:01:00.015  ...            29.439114
2      2020-04-01 00:02:00.012  ...            29.417545
3      2020-04-01 00:03:00.014  ...            29.402670
4      2020-04-01 00:04:00.015  ...            29.387794

[5 rows x 5 columns]

In [357]:
inv1.columns

MultiIndex([('Unnamed: 0_level_0',            'Unnamed: 0_level_1'),
            (        'INVERTER 1',          'AC POWER (KW) Actual'),
            (        'INVERTER 1',        'REACTIVE POWER (KVAR) '),
            (        'INVERTER 1',           'LINE VOLTAGE Vry(V)'),
            (        'INVERTER 1',           'LINE VOLTAGE Vyb(V)'),
            (        'INVERTER 1',           'LINE VOLTAGE Vbr(V)'),
            (        'INVERTER 1',            'LINE CURRENT Ir(A)'),
            (        'INVERTER 1',            'LINE CURRENT Iy(A)'),
            (        'INVERTER 1',            'LINE CURRENT Ib(A)'),
            (        'INVERTER 1',                 'FREQUENCY(Hz)'),
            (        'INVERTER 1',                 'DC VOLTAGE(V)'),
            (        'INVERTER 1',                 'DC CURRENT(A)'),
            (        'INVERTER 1',          'DC POWER (KW) Actual'),
            (        'INVERTER 1', 'AC ENERGY OUTPUT (kWH) Actual'),
            (        'INVERTER 2',          'AC POWER (KW) Actual'),
            (        'INVERTER 2',        'REACTIVE POWER (KVAR) '),
            (        'INVERTER 2',           'LINE VOLTAGE Vry(V)'),
            (        'INVERTER 2',           'LINE VOLTAGE Vyb(V)'),
            (        'INVERTER 2',           'LINE VOLTAGE Vbr(V)'),
            (        'INVERTER 2',            'LINE CURRENT Ir(A)'),
            (        'INVERTER 2',            'LINE CURRENT Iy(A)'),
            (        'INVERTER 2',            'LINE CURRENT Ib(A)'),
            (        'INVERTER 2',                 'FREQUENCY(Hz)'),
            (        'INVERTER 2',                 'DC VOLTAGE(V)'),
            (        'INVERTER 2',                 'DC CURRENT(A)'),
            (        'INVERTER 2',          'DC POWER (KW) Actual'),
            (        'INVERTER 2', 'AC ENERGY OUTPUT (kWH) Actual'),
            (        'INVERTER 3',          'AC POWER (KW) Actual'),
            (        'INVERTER 3',        'REACTIVE POWER (KVAR) '),
            (        'INVERTER 3',           'LINE VOLTAGE Vry(V)'),
            (        'INVERTER 3',           'LINE VOLTAGE Vyb(V)'),
            (        'INVERTER 3',           'LINE VOLTAGE Vbr(V)'),
            (        'INVERTER 3',            'LINE CURRENT Ir(A)'),
            (        'INVERTER 3',            'LINE CURRENT Iy(A)'),
            (        'INVERTER 3',            'LINE CURRENT Ib(A)'),
            (        'INVERTER 3',                 'FREQUENCY(Hz)'),
            (        'INVERTER 3',                 'DC VOLTAGE(V)'),
            (        'INVERTER 3',                 'DC CURRENT(A)'),
            (        'INVERTER 3',          'DC POWER (KW) Actual'),
            (        'INVERTER 3', 'AC ENERGY OUTPUT (kWH) Actual'),
            (        'INVERTER 4',          'AC POWER (KW) Actual'),
            (        'INVERTER 4',        'REACTIVE POWER (KVAR) '),
            (        'INVERTER 4',           'LINE VOLTAGE Vry(V)'),
            (        'INVERTER 4',           'LINE VOLTAGE Vyb(V)'),
            (        'INVERTER 4',           'LINE VOLTAGE Vbr(V)'),
            (        'INVERTER 4',            'LINE CURRENT Ir(A)'),
            (        'INVERTER 4',            'LINE CURRENT Iy(A)'),
            (        'INVERTER 4',            'LINE CURRENT Ib(A)'),
            (        'INVERTER 4',                 'FREQUENCY(Hz)'),
            (        'INVERTER 4',                 'DC VOLTAGE(V)'),
            (        'INVERTER 4',                 'DC CURRENT(A)'),
            (        'INVERTER 4',          'DC POWER (KW) Actual'),
            (        'INVERTER 4', 'AC ENERGY OUTPUT (kWH) Actual')],
           )

In [358]:
inv1.head()

       Unnamed: 0_level_0  ...                    INVERTER 4
       Unnamed: 0_level_1  ... AC ENERGY OUTPUT (kWH) Actual
0 2020-04-01 00:00:00.012  ...                          6772
1 2020-04-01 00:01:00.015  ...                             0
2 2020-04-01 00:02:00.012  ...                             0
3 2020-04-01 00:03:00.014  ...                             0
4 2020-04-01 00:04:00.015  ...                             0

[5 rows x 53 columns]

In [359]:
inv1.index.nlevels  # levels in index

1

In [363]:
inv1.columns.nlevels  # levels in columns

2

In [364]:
inv1.index = inv1.index.get_level_values(0)
inv1.index

RangeIndex(start=0, stop=1439, step=1)

In [0]:
inv1.index.name="sr.no."

In [0]:
date2=inv1.xs('Unnamed: 0_level_1',axis=1, level=1, drop_level=False)

In [367]:
date2

            Unnamed: 0_level_0
            Unnamed: 0_level_1
sr.no.
0      2020-04-01 00:00:00.012
1      2020-04-01 00:01:00.015
2      2020-04-01 00:02:00.012
3      2020-04-01 00:03:00.014
4      2020-04-01 00:04:00.015
...                        ...
1434   2020-04-01 23:54:00.015
1435   2020-04-01 23:55:00.015
1436   2020-04-01 23:56:00.013
1437   2020-04-01 23:57:00.012
1438   2020-04-01 23:58:00.013

[1439 rows x 1 columns]

In [0]:
data_ac=inv1.xs('AC POWER (KW) Actual',axis=1, level=1, drop_level=False)

In [369]:
data_ac.shape

(1439, 4)

In [0]:
data_dc=inv1.xs('DC POWER (KW) Actual',axis=1, level=1, drop_level=False)

In [371]:
data_dc.shape

(1439, 4)

In [0]:
frames=[data_ac, data_dc]
data2=pd.concat(frames, axis=1)

In [373]:
data2.shape

(1439, 8)

In [374]:
data2

                 INVERTER 1  ...           INVERTER 4
       AC POWER (KW) Actual  ... DC POWER (KW) Actual
sr.no.                       ...
0                         0  ...                    0
1                         0  ...                    0
2                         0  ...                    0
3                         0  ...                    0
4                         0  ...                    0
...                     ...  ...                  ...
1434                      0  ...                    0
1435                      0  ...                    0
1436                      0  ...                    0
1437                      0  ...                    0
1438                      0  ...                    0

[1439 rows x 8 columns]

In [0]:
inv_data=date2.join(data2)

In [376]:
inv_data.shape

(1439, 9)

In [377]:
inv_data.columns

MultiIndex([('Unnamed: 0_level_0',   'Unnamed: 0_level_1'),
            (        'INVERTER 1', 'AC POWER (KW) Actual'),
            (        'INVERTER 2', 'AC POWER (KW) Actual'),
            (        'INVERTER 3', 'AC POWER (KW) Actual'),
            (        'INVERTER 4', 'AC POWER (KW) Actual'),
            (        'INVERTER 1', 'DC POWER (KW) Actual'),
            (        'INVERTER 2', 'DC POWER (KW) Actual'),
            (        'INVERTER 3', 'DC POWER (KW) Actual'),
            (        'INVERTER 4', 'DC POWER (KW) Actual')],
           )

In [378]:
inv_data.head()

            Unnamed: 0_level_0  ...           INVERTER 4
            Unnamed: 0_level_1  ... DC POWER (KW) Actual
sr.no.                          ...
0      2020-04-01 00:00:00.012  ...                    0
1      2020-04-01 00:01:00.015  ...                    0
2      2020-04-01 00:02:00.012  ...                    0
3      2020-04-01 00:03:00.014  ...                    0
4      2020-04-01 00:04:00.015  ...                    0

[5 rows x 9 columns]

In [0]:
data=pd.merge(fuse_data, inv_data, left_index=True, right_index=True)

In [380]:
data.shape

(1439, 14)

In [402]:
data.columns

MultiIndex([('Unnamed: 0_level_0_x',   'Unnamed: 0_level_1'),
            (          'FUSE BOX 1', 'INTERNAL TEMPERATURE'),
            (          'FUSE BOX 2', 'INTERNAL TEMPERATURE'),
            (          'FUSE BOX 3', 'INTERNAL TEMPERATURE'),
            (          'FUSE BOX 4', 'INTERNAL TEMPERATURE'),
            ('Unnamed: 0_level_0_y',   'Unnamed: 0_level_1'),
            (          'INVERTER 1', 'AC POWER (KW) Actual'),
            (          'INVERTER 2', 'AC POWER (KW) Actual'),
            (          'INVERTER 3', 'AC POWER (KW) Actual'),
            (          'INVERTER 4', 'AC POWER (KW) Actual'),
            (          'INVERTER 1', 'DC POWER (KW) Actual'),
            (          'INVERTER 2', 'DC POWER (KW) Actual'),
            (          'INVERTER 3', 'DC POWER (KW) Actual'),
            (          'INVERTER 4', 'DC POWER (KW) Actual')],
           )

In [0]:
final_data=data.drop(data.columns[[5]], axis = 1)

In [0]:
# we have final data of block 1 only, for fuse report and inverter report.The values extracted are :
# 1. AC ACTUAL
# 2. DC ACTUAL
# 3. INTERNAL TEMPARATURE
# 4. DATES
# 5. Now we have final data after merging all these. Let's find other things like day, month, hour, minutes

In [405]:
final_data.head()

          Unnamed: 0_level_0_x  ...           INVERTER 4
            Unnamed: 0_level_1  ... DC POWER (KW) Actual
sr.no.                          ...
0      2020-04-01 00:00:00.012  ...                    0
1      2020-04-01 00:01:00.015  ...                    0
2      2020-04-01 00:02:00.012  ...                    0
3      2020-04-01 00:03:00.014  ...                    0
4      2020-04-01 00:04:00.015  ...                    0

[5 rows x 13 columns]

In [406]:
final_data.columns

MultiIndex([('Unnamed: 0_level_0_x',   'Unnamed: 0_level_1'),
            (          'FUSE BOX 1', 'INTERNAL TEMPERATURE'),
            (          'FUSE BOX 2', 'INTERNAL TEMPERATURE'),
            (          'FUSE BOX 3', 'INTERNAL TEMPERATURE'),
            (          'FUSE BOX 4', 'INTERNAL TEMPERATURE'),
            (          'INVERTER 1', 'AC POWER (KW) Actual'),
            (          'INVERTER 2', 'AC POWER (KW) Actual'),
            (          'INVERTER 3', 'AC POWER (KW) Actual'),
            (          'INVERTER 4', 'AC POWER (KW) Actual'),
            (          'INVERTER 1', 'DC POWER (KW) Actual'),
            (          'INVERTER 2', 'DC POWER (KW) Actual'),
            (          'INVERTER 3', 'DC POWER (KW) Actual'),
            (          'INVERTER 4', 'DC POWER (KW) Actual')],
           )

In [0]:
# import datetime class from datetime module
from datetime import datetime

In [0]:
first=final_data['Unnamed: 0_level_0_x', 'Unnamed: 0_level_1']

In [409]:
final_data['day'] = first.dt.day
final_data['day']

sr.no.
0       1
1       1
2       1
3       1
4       1
       ..
1434    1
1435    1
1436    1
1437    1
1438    1
Name: day, Length: 1439, dtype: int64

In [410]:
final_data['month'] = first.dt.month
final_data['month']

sr.no.
0       4
1       4
2       4
3       4
4       4
       ..
1434    4
1435    4
1436    4
1437    4
1438    4
Name: month, Length: 1439, dtype: int64

In [411]:
final_data['week of year'] = first.dt.week
final_data['week of year']

sr.no.
0       14
1       14
2       14
3       14
4       14
        ..
1434    14
1435    14
1436    14
1437    14
1438    14
Name: week of year, Length: 1439, dtype: int64

In [412]:
final_data['year'] = first.dt.year
final_data['year']

sr.no.
0       2020
1       2020
2       2020
3       2020
4       2020
        ...
1434    2020
1435    2020
1436    2020
1437    2020
1438    2020
Name: year, Length: 1439, dtype: int64

In [413]:
final_data['minute'] = first.dt.minute
final_data['minute']   # like wise we can extract time in any format like hour or second.

sr.no.
0        0
1        1
2        2
3        3
4        4
        ..
1434    54
1435    55
1436    56
1437    57
1438    58
Name: minute, Length: 1439, dtype: int64

In [414]:
final_data.shape

(1439, 18)

In [415]:
final_data.columns

MultiIndex([('Unnamed: 0_level_0_x',   'Unnamed: 0_level_1'),
            (          'FUSE BOX 1', 'INTERNAL TEMPERATURE'),
            (          'FUSE BOX 2', 'INTERNAL TEMPERATURE'),
            (          'FUSE BOX 3', 'INTERNAL TEMPERATURE'),
            (          'FUSE BOX 4', 'INTERNAL TEMPERATURE'),
            (          'INVERTER 1', 'AC POWER (KW) Actual'),
            (          'INVERTER 2', 'AC POWER (KW) Actual'),
            (          'INVERTER 3', 'AC POWER (KW) Actual'),
            (          'INVERTER 4', 'AC POWER (KW) Actual'),
            (          'INVERTER 1', 'DC POWER (KW) Actual'),
            (          'INVERTER 2', 'DC POWER (KW) Actual'),
            (          'INVERTER 3', 'DC POWER (KW) Actual'),
            (          'INVERTER 4', 'DC POWER (KW) Actual'),
            (                 'day',                     ''),
            (               'month',                     ''),
            (        'week of year',                     ''),
            (                'year',                     ''),
            (              'minute',                     '')],
           )

In [416]:
final_data.columns.nlevels  # levels in columns

2

In [417]:
final_data.index.nlevels  # levels in index

1

In [418]:
final_data.head()

          Unnamed: 0_level_0_x           FUSE BOX 1  ...  year minute
            Unnamed: 0_level_1 INTERNAL TEMPERATURE  ...
sr.no.                                               ...
0      2020-04-01 00:00:00.012            30.275087  ...  2020      0
1      2020-04-01 00:01:00.015            30.273602  ...  2020      1
2      2020-04-01 00:02:00.012            30.240875  ...  2020      2
3      2020-04-01 00:03:00.014            30.234182  ...  2020      3
4      2020-04-01 00:04:00.015            30.205919  ...  2020      4

[5 rows x 18 columns]